
@{
    ViewBag.Title = "Index";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
    <script src="https://www.paypal.com/sdk/js?client-id=Ad0XP_zwn9dxPHX3_0oCOL8yjfUrrGbPF4Sgw_R-1dGbD_EXYd9Q5MhzIGRsGmPEpOmZW_CRLaLf0LRT">
    </script>

    <div id="paypal-button-container"></div>

    <script>
        $(document).ready(function () {
            paypal.Buttons({
                createOrder: function (data, actions) {
                    // Set up the transaction
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '0.01'
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        alert('Transaction completed by ' + details.payer.name.given_name);
                        // Call your server to save the transaction
                        return fetch('/paypal-transaction-complete', {
                            method: 'post',
                            headers: {
                                'content-type': 'application/json'
                            },
                            body: JSON.stringify({
                                orderID: data.orderID
                            })
                        });
                    });
                }
            }).render('#paypal-button-container');
        });

    </script>
</body>

